
<%- include("navbar.ejs", {searchBar:true})%>
<div class="container">
  <div class="row">

    <div class="col-10 feed-col">
      <div class="the-feeds-container">
        <div class="mb-3 shadown-sm">
          <div class="card">
            <div class="row">
              <div class="col-4">
                <img src="/images/profile-user.png" class="my-pfp" />
              </div>
              <div class="col-8">
                <div class="card-body">
                  <div class="card-title pf-name"><%=user.first_name%></div>
                  <div class="card-subtitle mb-2 text-body-secondary">
                    @<%=user.username%>
                  </div>
                  <p class="card-text pf-bio">
                    <% if (user.bio === null) { %> 
                      Create your own unique profile bio by navigating to your Profile, then account...
                  <% } else { %>
                      <%= user.bio %>
                  <% } %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="my-msg mb-3 shadow-sm">
          <form action="/post" method="post" id="postForm" class="row">
            <div class="col-12 col-md-9 mt-2">
              <input
                placeholder="What's on your mind?"
                class="msg"
                id="myMsg"
                name="content"
                maxlength="100"
                autocomplete="off"
                required
              />
            </div>
            <div class="col-12 col-md-3 mt-2">
              <button type="submit" class="post-btn" id="postBtn">POST</button>
            </div>
          </form>

          <hr />
        </div>

        <div class="the-feed">
          <h1 class="feed-title"> THE TIMELINE</h1>
          <% if(allPosts.length > 0){ %>
          <% allPosts.forEach(post =>{%>
          <div class="card mb-3 shadow-sm post" data-content="<%=post.content%>" data-username="<%=post.username%>">
            <div class="card-body">
              <h2 class="card-title fs-4"><%=post.first_name%></h2>
              <h3 class="card-subtitle post-username text-body-secondary">@<%=post.username%></h3>
              <p class="card-text post-txt"><%=post.content%></p>
              <small><%= new Date(post.created_at).toLocaleString() %></small>
              <div><form action="/post/comment" method="post">
                <input type="hidden" name="post_id" value="<%=post.post_id%>"/>
                <input type="hidden" name="user_id" value="<%=post.user_id%>"/>
                <input type="text" class="msg" name="comment" placeholder="Add a comment..." required autocomplete="off"/>
              </form></div>
              <hr/>
              <div class="comment-section">
                <% const postComments = allComments.filter(comment => comment.post_id === post.post_id) %>
                <div class="comment">
                  <% if(postComments.length > 0){ %>
                    <% postComments.forEach(comment =>{ %>
                  <div class="msg mt-2">
                  <p class="comment-username">@<%= comment.comment_username %></p>
                  <p class="comment-text"><%= comment.comment%></p>
                  </div>
                  <%});%>
                  <%}else{%>
                    <p>No comments</p>
                    <%}%>
                </div>
              </div>
            </div>
          </div>
          <%})}else{%>
            <p class="text-center">No posts found.</p>
          <%}%>
        </div>
      </div>
    </div>

    <!--
    <div class="col-2 trends-friends">
      <div class="mb-3 trends-friends-container shadow-sm">
        <div class="col-12">
          <h2 class="tf-tittle">Trending</h2>
          <hr />
          <ul class="trends-list">
            <li>
              <span class="trends">NBA</span><br /><span class="trend-posts"
                ><%=((Math.random()* 30)+1).toFixed(1)%>k posts</span
              >
            </li>
            <hr />
            <li>
              <span class="trends">CANADA</span><br /><span class="trend-posts"
                ><%=((Math.random()* 30)+1).toFixed(1)%>k posts</span
              >
            </li>
            <hr />
            <li>
              <span class="trends">OLYMPICS</span><br /><span
                class="trend-posts"
                ><%=((Math.random()* 30)+1).toFixed(1)%>k posts</span
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="mb-3 trends-friends-container shadow-sm">
        <div class="col-12">
          <h2 class="text-center tf-tittle">Orbit Users</h2>
          <hr />
          <ul class="friends-list">
            <% if(orbitUsers.length > 0){%>
              <% orbitUsers.forEach(user => {%>
                 <li>
                  <strong><%=user.first_name%></strong>
                  (@<%=user.username%>)
                </li>
                <hr/>
             <% })}%>
          </ul>
        </div>
      </div>
    </div>
  -->
  </div>
</div>
