<nav class="navbar bg-white mb-1 shadow-sm">
  <div class="container">
    <div class="d-flex justify-content-between w-100">
      <a class="navbar-brand" href="#">
        <img src="/images/satellite.png" class="navbar-logo" /> ORBIT
      </a>

      <div class="mx-auto search-div">
        <input
          class="search-bar"
          type="search"
          placeholder="search for your friends posts"
        />
      </div>
      <div class="d-flex align-items-center">
        <div class="dropdown-center pf-dropdown-btn ms-2">
          <button
            class="btn dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            id="profileDropdown"
            aria-expanded="false"
          >
            <img class="nav-icon" src="/images/profile-user.png" />Profile
          </button>
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item btn btn-primary"
                href="#"
                data-bs-toggle="modal"
                data-bs-target="#accountModal"
                id="account-link"
                >Account</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/loggout">Loggout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <div
    class="modal fade"
    id="accountModal"
    tabindex="-1"
    aria-hidden="true"
    aria-labelledby="accountModalLabel"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content align-items-center">
        <div class="modal-header">
          <h1 class="modal-title" id="accountModalLabel">UPDATE ACCOUNT</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="close"
          ></button>
        </div>
        <div class="modal-body">
          <form action="update" method="POST">
            <div class="mb-2">
              <input
                type="text"
                placeholder="First Name"
                class="pf-update"
                name="fnUpdate"
              />
            </div>
            <div class="mb-2">
              <textarea
                rows="5"
                cols="49"
                placeholder="Profile bio..."
                class="pf-update"
                name="bioUpdate"
              ></textarea>
            </div>
            <hr />
            <button type="submit" class="update-btn">UPDATE</button>
          </form>
          <hr />
          <div class="dlt-modal-btn">
            <button
              type="button"
              id="confirmDlt"
              class="btn btn-danger mb-2"
             
            >
              DELETE ACCOUNT
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-8">
      <div class="the-feeds-container">
        <div class="mb-3 shadown-sm">
          <div class="card">
            <div class="row">
              <div class="col-4">
                <img src="/images/profile-user.png" class="my-pfp" />
              </div>
              <div class="col-8">
                <div class="card-body">
                  <div class="card-title pf-name"><%=user.first_name%></div>
                  <div class="card-subtitle mb-2 text-body-secondary">
                    @<%=user.username%>
                  </div>
                  <p class="card-text pf-bio">
                    <% if (user.bio === null) { %> 
                      Create your own unique profile bio by navigating to your Profile, then account...
                  <% } else { %>
                      <%= user.bio %>
                  <% } %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="my-msg mb-3 shadow-sm">
          <form action="/post" method="post" id="postForm" class="row">
            <div class="col-12 col-md-9 mt-2">
              <input
                placeholder="What's on your mind?"
                class="msg"
                id="myMsg"
                name="content"
                maxlength="100"
                autocomplete="off"
                required
              />
            </div>
            <div class="col-12 col-md-3 mt-2">
              <button type="submit" class="post-btn" id="postBtn">POST</button>
            </div>
          </form>

          <hr />
        </div>

        <div class="the-feed">

          <% if(allPosts.length > 0){ %>
          <% allPosts.forEach(post =>{%>
          <div class="card mb-3 shadow-sm">
            <div class="card-body">
              <h2 class="card-title fs-4"><%=post.first_name%></h2>
              <h3 class="card-subtitle post-username text-body-secondary">@<%=post.username%></h3>
              <p class="card-text post-txt"><%=post.content%></p>
              <small><%= new Date(post.created_at).toLocaleString() %></small>
              <div><input type="text" class="msg" placeholder="Add a comment..."/></div>
              <hr/>
            </div>
          </div>
          <%})}%>

        </div>
      </div>
    </div>

    <div class="col trends-friends">
      <div class="mb-3 trends-friends-container shadow-sm">
        <div class="col-12">
          <h2 class="tf-tittle">Trending</h2>
          <hr />
          <ul class="trends-list">
            <li>
              <span class="trends">NBA</span><br /><span class="trend-posts"
                ><%=((Math.random()* 30)+1).toFixed(1)%>k posts</span
              >
            </li>
            <hr />
            <li>
              <span class="trends">CANADA</span><br /><span class="trend-posts"
                ><%=((Math.random()* 30)+1).toFixed(1)%>k posts</span
              >
            </li>
            <hr />
            <li>
              <span class="trends">OLYMPICS</span><br /><span
                class="trend-posts"
                ><%=((Math.random()* 30)+1).toFixed(1)%>k posts</span
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="mb-3 trends-friends-container shadow-sm">
        <div class="col-12">
          <h2 class="text-center tf-tittle">Orbit Users</h2>
          <hr />
          <ul class="friends-list">
            <% if(orbitUsers.length > 0){%>
              <% orbitUsers.forEach(user => {%>
                 <li>
                  <strong><%=user.first_name%></strong>
                  (@<%=user.username%>)
                </li>
                <hr/>
             <% })}%>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
