<nav class="navbar bg-white mb-1 shadow-sm sticky-top">
    <div class="container">
      <div class="d-flex justify-content-between w-100">
        <a class="navbar-brand" href="#">
          <img src="/images/satellite.png" class="navbar-logo" /> ORBIT
        </a>
  
        <div class="mx-auto search-div <%=searchBar? 'visibleBar': 'hiddenBar'%>">
          <form action="/profile" method="get">
          <input
            class="search-bar"
            id="filterPost"
            type="search"
            name="search"
            value="<%=searched%>"
            placeholder="Search posts..."
          />
          </form>
        </div>
  
        <div class="d-flex align-items-center">
          
    <a class="nav-link active mb-2" aria-current="page" href="/profile"><img src="/images/home.png" class="page-nav-img" alt="My home page"/></a>
    <a class="nav-link mb-2" href="/trending"><img src="/images/hashtag.png" class="page-nav-img" alt="Trends"/></a>
    <a class="nav-link mb-2" href="/users"><img src="/images/friends.png" class="page-nav-img" alt="Users"/></a>
    <a class="nav-link mb-2" href="/messages"><img src="/images/chat.png" class="page-nav-img" alt="Messages"/></a>
        
          <div class="dropdown-center pf-dropdown-btn ms-2">
            
            <button
              class="btn dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              id="profileDropdown"
              aria-expanded="false"
            >
              <img class="nav-icon" src="/images/profile-user.png" />Profile
            </button>
            <ul class="dropdown-menu">
              <li>
                <a
                  class="dropdown-item btn btn-primary"
                  href="#"
                  data-bs-toggle="modal"
                  data-bs-target="#friendsModal"
                  id="friends-link"
                  >Friends</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item btn btn-primary"
                  href="#"
                  data-bs-toggle="modal"
                  data-bs-target="#accountModal"
                  id="account-link"
                  >Account</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="/logout">Loggout</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="container">
    <div
      class="modal fade"
      id="accountModal"
      tabindex="-1"
      aria-hidden="true"
      aria-labelledby="accountModalLabel"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content align-items-center">
          <div class="modal-header">
            <h1 class="modal-title" id="accountModalLabel">UPDATE ACCOUNT</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="close"
            ></button>
          </div>
          <div class="modal-body">
            <form action="update" method="POST">
              <div class="mb-2">
                <input
                  type="text"
                  placeholder="First Name..."
                  class="pf-update"
                  name="fnUpdate"
                />
              </div>
              <div class="mb-2">
                <textarea
                  rows="5"
                  cols="49"
                  placeholder="Profile bio..."
                  class="pf-update"
                  name="bioUpdate"
                ></textarea>
              </div>
              <button type="submit" class="update-btn">UPDATE</button>
            </form>
            <hr />
            <div class="dlt-modal-btn">
              <button
                type="button"
                id="confirmDlt"
                class="btn btn-danger mb-2"
               
              >
                DELETE ACCOUNT
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div
    class="modal fade"
    id="friendsModal"
    tabindex="-1"
    aria-hidden="true"
    aria-labelledby="friendsModalLabel"
  >
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content align-items-center">
        <div class="modal-header">
          <h1 class="modal-title" id="accountModalLabel">MY ORBIT LIST</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="close"
          ></button>
        </div>
        <div class="modal-body frnd-list-div">
          <ul class="list-group mb-3">
            <%friendsList.forEach((friend)=>{%>
            <li class="list-group-item d-flex justify-content-between align-items-center ">
              <span class="fw-bold"><%=friend.first_name%>(@<%=friend.username%>)</span>
              <form class="ms-4 p-0">
<img src="/images/remove.png" alt="remove user from your close orbit" class="unadd-friend"/>
<input type="hidden" name="unadded_friend_id" value="<%=friend.id%>"/>
              </form>
            </li>
            <%})%>
          </ul>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

    </div>