

<%- include("navbar.ejs", {searchBar:false, searched: ''})%>

<div class="container">
  <div class="trends-div">
    <h1 class="trend-title">TRENDING TOPICS</h1>
      <%trends.forEach((trend, index)=>{%>
      <div class="row">
        <div class="col-12">
          <div class="card trend-card">
            <div class="card-body d-flex">
                <div class="col-md-1 me-2"><p class="rank-num text-body-secondary"><%=index + 1%></p></div>
              <div class="col-md-9">
                <h2 class="card-title">
                    <%=trend.topic%>:</h2>
                <p class="card-text text-body-secondary"><%=trend.snippet%> -</p>
              </div>
              <div class="col-2 text-end search-vol">
                <%=trend.volume%>
                <p class="search-txt text-body-secondary">Searches</p>
            </div>
            </div>
          </div>
        </div>
      </div>
      <%});%>
  </div>
</div>
