<%- include("navbar.ejs", {searchBar:false, searched: ''})%>

<div class="container user-req-div shadow-sm">
  <!--Conditional render the page h1 in future-->
  <div class="row justify-content-between">
    <h1 id="user-pg-title">Expand Your Orbit</h1>

    <div class="col-8">
      <form action="/users" method="get">
      <input
        id="filter-users"
        type="text"
        name="findUser"
        value="<%=findUser || ''%>"
        placeholder="Search Users"
      />
      </form>
    </div>
    <div class="col-4 d-flex justify-content-end mb-3">
      <button class="user-req-btn active" id="user-btn">Users</button>
      <button class="user-req-btn" id="req-btn">Requests</button>
    </div>
    <hr />
  </div>

  <div class="row row-cols-2 row-cols-lg-3 g-2 mb-3 user-list">
    <!--conditonally render cards, if no user accounts exist render a p tag-->
    <% if(orbitUsersFiltered.length > 0){%> <% orbitUsersFiltered.forEach(user =>{%>
    <div class="col">
      <div class="card frnd-card text-bg-light h-100">
        <div class="row">
          <div class="col-md-7">
            <div class="card-body">
              <div class="card-title user-list-fn"><%= user.first_name %></div>
              <div class="card-subtitle mb-2 text-body-secondary">
                @<%=user.username%>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <form action="/sent_friend_req" method="post">
              <button class="add-btn" value="<%=user.id%>" name="recipient_id">
                Add Friend
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <%})}%>
  </div>

  <div class="req-list d-none row row-cols-2 mb-3">
    <% if(receivedRequests.length > 0) {%> <%
    receivedRequests.forEach(request=>{%>
    <div class="col">
      <div class="card h-100">
        <div class="card-body row">
          <div class="col-7">
            <%=request.sender_fn%> (@<%=request.sender_un%>) wants to join your
            orbit
          </div>
          <div class="col-5">
            <form action="/accept_deny_req" method="post">
              <button class="btn btn-outline-dark" value="1" name="accept_deny">
                Accept
              </button>
              <button
                class="btn btn-outline-danger"
                value="2"
                name="accept_deny"
              >
                decline
              </button>
              <input type="hidden" name="sender_id" value="<%=request.sender_id%>"/>
            </form>
          </div>
        </div>
      </div>
    </div>
    <%})}else{%> No pending requests <%}%>
  </div>
</div>
